.screen-iframe-actions {
    border: none;
    width: 400px;
    height: 500px;
    position: fixed;
    top: 12px;
    right: 96px;
}

.screen-iframe-record {
    border: none;
    width: 400px;
    height: 100px;
    position: fixed;
    left: 12px;
    bottom: 12px;
}