.start-modal-wrapper {
    position: relative;
}
.start-modal {
    box-shadow: 0 0 8px rgb(0 0 0 / 15%);
    height: 300px;
    width: 300px;
    margin: 8px;
    border-radius: 4px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #493664;
    background-color: #fff;
    position: relative;
}

.start-modal-btn {
    height: 96px;
    width: 96px;
    background-color: #ff9c6e;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
   
}

.start-modal-notice {
    font-size: 12px;
    margin-top: 24px;
}
.start-close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.start-close-icon {
    width: 16px;
    height: 16px;
}