body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "source-code-pro", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
}

.screen-iframe-actions, .screen-iframe-recording {
  border: none;
  position: fixed;
  z-index: 99999;
}

.screen-iframe-actions {
  width: 324px;
  height: 324px;
  top: 12px;
  right: 96px;
}

.screen-iframe-recording {
  height: 48px;
  width: 60px;
  left: 12px;
  bottom: 12px;
}

.screen-iframe-recording:hover {
  width: 300px;
}
.screen-iframe-recording-expand {
  width: 88px;
}